.Main {
    background-color: aliceblue;
}

.NavBar {
    padding-right: 0px;
}

.Logo_Sec {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 20px 0px 15px 50px;
}

.MainRow {
    padding-left: 60px;
    margin-top: 50px;
}

.LeftMain {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 0px 40px 10px 30px;
    margin: 0px 50px 30px 0px;
}

.LeftContent {
    float: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A1AC7;
    font-weight: bold;
    padding: 50px 0px 20px 10px;
}

.RightMain {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A1AC7;
    font-weight: bold;
    padding: 50px 0px 20px 10px;
}

.ImageCtr{
    padding: 0px 40px 20px 0px;    
}

.SmallImage {
    margin: 0px 5px 20px 5px;
} 

.BigImage {
    margin: 10px 25px 35px 55px;
} 

.ImageCtr {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .border {
    border: 3px solid red !important;
}

 .OnlyMain {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0px 0px 65px;
}

.TextData{
    font-weight: bold;
    font-size: 20px;
    padding: 0px 0px 20px 30px;
}

table.table-bordered{
    border:2px solid white;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid white;
}
table.table-bordered > tbody > tr > td{
    border:1px solid white;
}

.CapTxt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A1AC7;
    font-size: 20px;
    font-weight: bold;
}