.Main {
    background-color: #ededed;
}

.Logo_Sec {
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px 0px 15px 50px;
}

.MainRow {
    padding-left: 60px;
    margin: 50px 0px 0px 0px;
}

.LeftMain {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 0px 40px 40px 30px;
    margin-right: 30px;
}

.LeftContent {
    float: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A1AC7; 
    font-weight: bold;
    padding: 50px 0px 20px 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A1AC7; 
    font-weight: bold;
    padding: 50px 0px 20px 10px;
}

.RightMain {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 0px, 40px 0px; 
    /* margin: 50px 0px 0px 50px; */
}

/*
.TopRowL {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.SmallImage {
    padding: 0px 10px 20px 0px;
}



.OnlyMain {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:60px;
    margin: 50px 0px 0px 50px;
}

.title {
    order: 1;
}

.Image2 {
    padding: 0px 20px 20px 0px;
    width: 100% \9;
}

.border-Latitude {
    background-color: #0BADA6;
}

.Image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .navbar-nav {
 text-align: right;
 }
 
 */